/* reset */
img {
    max-width: 100%;
}

/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    text-align: left;
}

/* header */
.booleaner {
    width: 200px;
    height: 200px;
}

.top-header {
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
}