/* reset */
img {
    max-width: 100%;
}

/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    line-height: 25px;
    text-align: left;
}

/* header */
.booleaner {
    margin-top: -50px;
    margin-left: 20px;
    width: 220px;
    height: 220px;
}

.top-header {
    max-width: auto;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-color: lightskyblue
}

h1 {
    margin-bottom: 3px;
}

h3 {
    margin-bottom: 3px;
}

h4 {
    margin-top: 3px;
}

.integrazione-autore {
    color: grey;
}

.autore {
    color: blue;
}

.highlight {
    background-color: yellow;
}


.table thead {
    background-color: blue; /* Dark blue background */
    color: white; /* White text */
}

.table tbody tr:nth-child(odd) {
    background-color: #ADD8E6; /* Light blue background */
    color: black; /* Black text */
}

.table tbody tr:nth-child(even) {
    background-color: white; /* White background */
    color: black; /* Black text */
}

.footer {
    color: grey;
}

.container {
    position: relative;
    display: block;
}

.text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}
